:host {
  display: inline-block;
  width: 320px;
  aspect-ratio: 1;
  box-sizing: border-box;
  contain: layout style;
}

:host([hidden]) {
  display: none;
}

.host {
  width: 100%;
  height: 100%;
}
